@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-size:cover;
  min-height: 100vh;

  font-family: 'Roboto Mono', monospace;
}
h1{
  text-align: center;

  color: rgba(0, 139, 139, 0.8);

}
.gameOver{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: auto;
  margin: 20px;

  padding: 15px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
  color: #fff;
}
.square{
  padding: 15px;

}